@import "../../styles/variables";

.hobbyContainer {
  width: 100vw;
  padding: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: lighten($dark-color, 50);
  color: #015668;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1 {
      margin-bottom: 2rem;
    }
  }

  .hobbyText {
    width: 50%;
    text-align: left;
    @include mobile {
      text-align: center;
    }
  }
}

.hobbyCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($dark-color, 50);
  color: #015668;

  @include mobile {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .Easy {
    margin-top: 200px;
    @include mobile {
      margin: 0;
    }
  }

  .Medium {
    margin-top: 100px;
    @include mobile {
      margin: 0;
    }
  }

  .hobbyCardContainer {
    width: 20vw;
    height: 20vw;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-right: 10vw;
    background-color: lighten($primary-color, 5);
    color: white;
    margin-bottom: 2rem;
    box-shadow: 4px 13px 27px 2px rgba(0, 0, 0, 0.57);
    border-radius: 20px;
    @include mobile {
      width: 50%;
      height: 30vh;
      margin-right: 0;
    }

    &.Hard {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba($primary-color, 0.6);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 100%;

      .cardTitle {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
      }

      .cardContent {
        padding-block: 2vw;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .buttonWrapper {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-out;

      .hobbyButton {
        width: 40px;
        height: 40px;
        border: 0;
        border-radius: 50%;
        color: #015668;
        cursor: pointer;
        padding: 0;
        & * {
          width: 40px;
          height: 40px;
        }
        &:hover {
          transform: scale(1.2);
          color: lighten($color: $primary-color, $amount: 5);
        }
      }
    }
  }
}
