// Theme colors

$primary-color: #015668;
$secondary-color: #06648c;
$dark-color: #212121;
$light-color: #ffffff;

// Font-Sizes

$font-size-base: 16px;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 36px;

@mixin mobile {
  @media (max-width: 896px) {
    @content;
  }
}
