@import "../../styles/variables";

.contactContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  background-color: #a2baba;

  @include mobile {
    & > * {
      margin: 2rem;
    }
  }

  .upperContainer {
    width: 70vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      width: 40%;
      text-align: left;
      font-size: 48px;
      letter-spacing: 1.7rem;
      font-weight: 700;

      @include mobile {
        // font-size: 32px;
        letter-spacing: 1.3rem;
      }
    }

    & * {
      flex-grow: 1;
    }

    .upperLine {
      margin-left: 30px;
      margin-top: 80px;
      width: 40%;
      height: 50%;
      border: 0;
      border-top: 1px solid $primary-color;
      border-right: 1px solid $primary-color;

      @include mobile {
        display: none;
      }
    }
  }

  .middleContainer {
    width: 70vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    & * {
      flex-grow: 1;
    }

    .middleText {
      width: 50%;

      & p {
        width: 80%;
        color: $secondary-color;
      }
    }

    .iconList {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      translate: 3.5%;
      transition: all 0.2s ease-out;
      & .socialIcon:hover {
        transform: scale(1.4);
        color: lighten($primary-color, 20);
      }
    }
  }

  .lowerContainer {
    width: 70vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    & * {
      flex-grow: 1;
    }

    .contactButton {
      text-align: center;
      background-color: $primary-color;
      color: $light-color;
      padding-block: 10px;
      border-radius: 20px;
      border: 0;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.05);
        background-color: lighten($color: $primary-color, $amount: 5);
      }
    }

    .bottomLine {
      margin-left: 20px;
      margin-bottom: 50px;
      width: 40%;
      height: 50%;
      border: 0;
      border-bottom: 1px solid $primary-color;
      border-right: 1px solid $primary-color;

      @include mobile {
        display: none;
      }
    }
  }
}
