@import "./../../styles/variables";

.detailContainer {
  width: 50vw;
  height: auto;
  padding: 30px;
  text-align: center;
  color: $primary-color;
  margin-bottom: 30px;
  margin-inline: auto;

  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-top: 10px;
  }
}
